<li id="comment_<%= comment.id %>">
   <%=comment.content%> <%if (locals.user && comment.user.id ==
   locals.user.id){%>
   <large>
      <a
         class="comment_delete_icon"
         href="/comments/destroy/<%=comment.id%>"
         >X</a
      >
   </large>
   <%}%>
   <br />
   <small><%=comment.user.name%></small>
   <br /><br />
</li>
