<link rel="stylesheet" href="/css/home.css" />

<div id="main_content">
   <%if(locals.user){%>
   <section>
      <h1>Add Post</h1>
      <form action="/posts/create" method="post" id="create_post_form">
         <textarea
            name="feed_post"
            id="feed_post"
            cols="30"
            rows="10"
            required
         ></textarea
         ><br />
         <input type="submit" value="Add" />
      </form>
   </section>
   <%}%>
   <section id="display_posts">
      <!-- we can not use let in for-of loop here as it will restrict the scope of post to this file only -->
      <%for(post of posts){%> <%- include('_post')%> <%}%>
   </section>
   <section id="users_list">
      <h1>Friends</h1>
      <hr />
      <ul>
         <%for(user of all_users){%>
         <a href="users/profile/<%=user.id%>">
            <li><%=user.name%></li>
            <li><%=user.email%></li>
            <hr />
         </a>
         <%}%>
      </ul>
   </section>
</div>
<script src="/js/home_posts.js"></script>
