<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0"
      />
      <title><%= title%></title>
   </head>
   <body>
      <!-- //this is header partial  -->
      <%- include('_header')%>
      <!-- //this is for variable content of website  -->
      <%- body %>
      <!-- //this is footer partial  -->
      <%-include('_footer')%>
   </body>
</html>
