<h1>Sign in</h1>

<form action="/users/create-session" method="post">
   <input type="email" name="email" id="" placeholder="Your Email" />
   <input type="password" name="password" id="" placeholder="Password" />
   <input type="submit" value="Sign in" />
</form>

<p>
   <a href="/users/auth/google">signin/signup with google</a>
</p>