<h1>Sign Up</h1>

<form action="/users/create" method="post">
   <input type="text" name="name" id="" placeholder="Your Name" />
   <input type="email" name="email" id="" placeholder="Your Email" />
   <input type="password" name="password" id="" placeholder="Password" />
   <input
      type="password"
      name="cnf_password"
      id=""
      placeholder="Confirm Password"
   />
   <input type="submit" value="Sign up" />
</form>

<p>
   <a href="/users/auth/google">signin/signup with google</a>
</p>
