#main_content {
   display: flex;
   justify-content: space-evenly;
}
#main_content Section {
   margin: 5px;
}
#users_list {
   border-left: 1px solid lightgray;
   height: 100%;
   padding: 10px;
}
